
.contenido {
    margin-bottom:550px;
}

.jumbotron{
    background-color:teal;
    color: white;
    margin-top:50px;
}

.footer{
    background-color:#353A40!important;
    color:#9A9DA0;   
    bottom: 0;  
    width: 100%;
    padding: 20px;
    margin-top: 50px;;
}

.footer a:link{text-decoration:none; color:#9A9DA0;}
.footer a:visited{text-decoration:none; color:#9A9DA0;}
.footer a:hover{text-decoration:none; color:teal;}

.card-product{
    flex: 1 220px;
    margin-left: 1em;
    margin-top: 2em;
}

.btn-comprar{
    width: 100%;
    border-radius:0px;
    border: none;
    color: #fff!important;
    background-color: teal!important;
}

.btn-comprar:hover{
    background-color: rgb(1, 53, 53)!important;
}

.tab-content{
    padding-top: 50px;;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff!important;
    background-color: teal!important;
}

.btn-defecto{
    border-radius:0px;
    border: none;
    color: #fff!important;
    background-color: teal!important;
}

.btn-defecto:hover{
    background-color: rgb(1, 53, 53)!important;
}

.btn-defecto-disabled{
    border-radius:0px;
    border: none;
    color: #fff!important;
    background-color: gray!important;
}

.btn-cancelar{
    border-radius:0px;
}