.contenido {
  margin-bottom: 550px; }

.jumbotron {
  background-color: #008080;
  color: #FFFFFF;
  margin-top: 50px;
  margin-bottom: 0px; }

.footer {
  background-color: #353A40 !important;
  color: #9A9DA0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 0px; }

.footer a:link {
  text-decoration: none;
  color: #9A9DA0; }

.footer a:visited {
  text-decoration: none;
  color: #9A9DA0; }

.footer a:hover {
  text-decoration: none;
  color: #008080; }

.card-product {
  flex: 1 220px;
  margin-left: 1em;
  margin-top: 2em;
  margin-bottom: 0px; }

.btn-comprar {
  width: 100%;
  border-radius: 0px;
  border: none;
  color: #FFFFFF !important;
  background-color: #008080 !important; }

.btn-comprar:hover {
  background-color: #013535 !important; }

.tab-content {
  padding-top: 50px; }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #FFFFFF !important;
  background-color: #008080 !important; }

.btn-defecto {
  border-radius: 0px;
  border: none;
  color: #FFFFFF !important;
  background-color: #008080 !important; }

.btn-defecto:hover {
  background-color: #013535 !important; }

.btn-defecto-disabled {
  border-radius: 0px;
  border: none;
  color: #FFFFFF !important;
  background-color: #808080 !important; }

.btn-cancelar {
  border-radius: 0px; }
