$teal:#008080;
$verde-oscuro:rgb(1, 53, 53);
$gray: #808080;
$white:#FFFFFF;
$gris-oscuro:#353A40;
$gris-claro:#9A9DA0;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.contenido {
    margin-bottom:550px;
}

.jumbotron{
    background-color:$teal;
    color: $white;
    @include margenes(50px, 0px);
}

.footer{
    background-color:$gris-oscuro!important;
    color:$gris-claro;   
    bottom: 0;  
    width: 100%;
    padding: 20px;
    @include margenes(50px, 0px);
}

.footer a:link{text-decoration:none; color:$gris-claro;}
.footer a:visited{text-decoration:none; color:$gris-claro;}
.footer a:hover{text-decoration:none; color:$teal;}

.card-product{
    flex: 1 220px;
    margin-left: 1em;
    @include margenes(2em, 0px);
}

.btn-comprar{
    width: 100%;
    border-radius:0px;
    border: none;
    color: $white!important;
    background-color: $teal!important;
}

.btn-comprar:hover{
    background-color: $verde-oscuro!important;
}

.tab-content{
    padding-top: 50px;;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: $white!important;
    background-color: $teal!important;
}

.btn-defecto{
    border-radius:0px;
    border: none;
    color: $white!important;
    background-color: $teal!important;
}

.btn-defecto:hover{
    background-color: $verde-oscuro!important;
}

.btn-defecto-disabled{
    border-radius:0px;
    border: none;
    color: $white!important;
    background-color: $gray!important;
}

.btn-cancelar{
    border-radius:0px;
}